<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532930088780-bpduq8k3p94vjr9e4qu0b3j3ui5q9lso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532930088780-bpduq8k3p94vjr9e4qu0b3j3ui5q9lso</string>
	<key>API_KEY</key>
	<string>AIzaSyCe6BEHP9yyLpbIKVYHxrMMBp1gN5auOVU</string>
	<key>GCM_SENDER_ID</key>
	<string>532930088780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tatsushi.fukunaga.Swift6ChatApp1</string>
	<key>PROJECT_ID</key>
	<string>swift6chatapp1-f4bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6chatapp1-f4bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532930088780:ios:00b07ef3d98b1dca1cc9e9</string>
</dict>
</plist>